<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MACOBETA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MACOBETA.styles.css" asp-append-version="true" />

    @*Iconos de Bootstrap*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css">

</head>
<body>
    <div class="image-container">
        <!--Datos e imagenes superiores del fondo      RELV    20/09/2024-->
        <header>
            <img src="~/Resources/Images/sys-def-sup.png" class="header-image" />
            <div class="modulo-custom">MÓDULO MACO</div>
        </header>
        

        <!--Llamada de los modales      RELV    20/09/2024-->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>              

        <!--Datos e imagenes inferiores del fondo      RELV    19/09/2024-->
        <footer class="footer text-muted">
            <img src="~/Resources/Images/sys-b-fad.png" class="footer-image" />
            <div class="overlay-text">@DateTime.Now.ToString("\"MEXICO\" - dddd dd 'de' MMMM")</div>
        </footer>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
