<!------------------------------------------------------------------------

Creador: Rodrigo Esau Lopez Vazquez (RELV)
Fecha de creacion: 19/09/2024
Funcion: Muestra la vista principal, al entrar al Login

version         Fecha           Modificador
1.0             19/09/2024      RELV

-------------------------------------------------------------------------->
@{
    Layout = null;
}

<div id="indexModal" class="modal fade " tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="welcomeMessage"></h5> <!-- Mostrar el nombre de usuario -->
                
            </div>
            <div class="modal-body">
                <p>Contenido del modal de Index.</p>
                <button type="button" class="btn btn-secondary" onclick="exitIndex()">Salir</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Index.js" asp-append-version="true"></script>

