/********************************************

Creador: Rodrigo Esau Lopez Vazquez (RELV)
Fecha de creacion: 19/09/2024
Funcion: Hoja de estilos para el login de usuarios

version     Fecha           Modificador
1.0         19/09/2024      RELV

*********************************************/



/*Codigo de estilos de mensaje de error al iniciar session      RELV    14/10/2024*/
.custom-modal .modal-content {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semioscuro */
    color: white; /* Color del texto blanco */
    box-shadow: 1px 1px 1.3em 0.3em #000; /* Sombra */
    border-radius: 1em;
    border: none;
}
.custom-modal .modal-header {
    border-bottom: 3px solid green; /* Línea de separación en verde */
}
.custom-modal .modal-footer {
    border-top: 3px solid green; /* Línea en el pie del modal en verde */
}
.custom-modal .close {
    display: none; /* Ocultar la X de cierre */
}

/*Codigo de estilos del Login      RELV    14/10/2024*/
#loginModal .modal-content {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semioscuro */
    color: white; /* Color del texto blanco */
    box-shadow: 1px 1px 1.3em 0.3em #000; /* Sombra */
    border-radius: 1.5em;
    border:none;
}
#loginModal .modal-header {
    border-bottom: 3px solid green; /* Línea de separación en verde*/
}
#loginModal .btn-custom {
    background-color: rgb(0, 149, 0); /* Color del botón */
    color: white; /* Color del texto */
    border-radius: 20px; /* Esquinas bordeadas */
    width: 100%; /* Ancho del botón */
    margin-top: 30px; /* Espaciado adicional en la parte superior */
}
#loginModal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
}
#loginModal .form-group {
    width: 100%; /* Asegura que el grupo ocupe todo el ancho */
    max-width: 400px; /* Limita el ancho máximo si es necesario */
    background-color: #054199ad;
    border-radius: 20px; /* Esquinas bordeadas de 20px */
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
#loginModal label {
    width: 100%; /* Asegura que el grupo ocupe todo el ancho */
    max-width: 100px; /* Limita el ancho máximo si es necesario */
    margin-left: 15px;
}
#loginModal .form-control {
    background-color: #A0AEEA; /* Color de fondo azul claro */
    border-radius: 20px; /* Esquinas bordeadas de 20px */
    color: #01056B;
    font-weight: bold;
    border: none;
}
/* Cambiar el color del input cuando no se ha seleccionado */
#loginModal .form-control:focus {
    background-color: #e9ecef; /* Color azul cuando está seleccionado */
}

/*Estilos para boton de contraseñas*/
#togglePassword {
    border: none; /* Sin color en el borde */
    border-radius: 20px; /* Radio del borde de 20px */
    color: white;
}
#togglePassword:hover {
    background-color: rgb(1, 5, 107); /* Fondo al pasar el cursor */
    color: white; /* Cambiar el color del texto/icono */
}
 /*Estilo individual de input de contraseña*/
.input-group {
    background-color: #A0AEEA;
    border-radius: 20px;
}